<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="testNGListeners.Listeners" />
	</listeners>

	<test  name="ChromeInitiationTestCase">

		<classes>
			<class name="com.hero.testkuapp.sample_Project.ChromeInitiationTest" />
		</classes>
	</test> 
	<test  name="DayTwoTaskTest">

		<classes>
			<class name="com.hero.testkuapp.sample_Project.DayTwoTaskTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


